body{
    border: 1px solid red;
    margin: 10px;
    padding: 15px;
    background-color: blanchedalmond;
}

.main {
    border: 1px solid red;
    padding: 10px;
    margin-left: 170px;
    margin-right: 170px;
}

.main-title {
    border: 1px solid red;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipes-list {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: center;
    border: 1px solid red;
    padding: 5px;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.recipes-list > ul {
    display: inline-block;
}

.span-inline {
    display: inline;
    border: 1px solid red;
    padding: 2px;
}

.span-block {
    display: block;
    border: 1px solid red;
    padding: 2px;
}

.span-inline-block {
    display: inline-block;
    border: 1px solid red;
    padding: 20px;
}